<footer id="section-contact">
    <h1 class="title">Bryan D Alvarez P</h1>
    <p>
        <a class="contact-mail" href="mailto:balvarezpandozi@gmail.com">BAlvarezPandozi@gmail.com</a>
        <button onclick="copy('balvarezpandozi@gmail.com')" type="button" class="copy-button">
            Copy
        </button>
    </p>
    <div class="divisor"></div>
    <div class="flex-x-space-evenly sm-flex">
        <a href="https://github.com/Balvarezpandozi">
            <button class="footer-button">
                <img class='footer-icon lazy-img' src="res/lazyimages/githubgold-lazy.png" data-src="res/images/githubgold.png">
            </button>
            <p>GITHUB</p>
    
        </a>
        <a href="https://www.linkedin.com/in/bryan-alvarez-368025178/">
            <button class="footer-button" href="https://www.linkedin.com/in/bryan-alvarez-368025178/">
                <img class="footer-icon lazy-img" src="res/lazyimages/linkedingold-lazy.png" data-src="res/images/linkedingold.png">
            </button>
            <p>LINKEDIN</p>
        </a>
        <a href="https://codepen.io/Bryandalvarez/">
            <button class="footer-button">
                <img class="footer-icon lazy-img" src="res/lazyimages/codepengold-lazy.png" data-src="res/images/codepengold.png">
            </button>
            <p>CODEPEN</p>
        
        </a>
    </div>
    <div class="divisor"></div>
    <p>Coded and Designed by Bryan Alvarez</p>
    <p>Copyright &#169 2021 Bryan Alvarez</p>   
</footer>

<!-- This is the footer partial -->