<nav>
  <a href="/" class="nav-title">
    <img
      src="res/lazyimages/foregroundlogo_v2-lazy.png"
      data-src="res/images/foregroundlogo_v2.png"
      alt="Bryan Alvarez logo"
      class="nav-logo lazy-img"
    />
    Bryan Alvarez
  </a>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li>
        <a class="nav-link" href="#section-work-experience">Work Experience</a>
      </li>
      <li><a class="nav-link" href="#section-education">Education</a></li>
      <li><a class="nav-link" href="#section-skills">Skills</a></li>
      <li><a class="nav-link" href="#section-projects">Projects</a></li>
      <li><a class="nav-link" href="#section-contact">Contact</a></li>
    </ul>
  </div>
</nav>
