<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/res/images/foregroundlogo_v2.png" />
    <link rel="stylesheet" href="styling/main.css" />
    <title>Bryan ALvarez: Portfolio</title>
  </head>
  <body>
    <nav>
      <a href="/" class="nav-title">
        <img
          src="res/lazyimages/foregroundlogo_v2-lazy.png"
          data-src="res/images/foregroundlogo_v2.png"
          alt="Bryan Alvarez logo"
          class="nav-logo lazy-img"
        />
        Bryan Alvarez
      </a>
    </nav>
    <main><%-body%></main>
    <%- include('../partials/footer') %>
  </body>
  <script src="scripts/error.js"></script>
</html>
