<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/res/images/foregroundlogo_v2.png" />
    <link rel="stylesheet" href="/styling/main.css" />
    <link rel="stylesheet" href="/styling/links.css" />
    <title>Bryan Alvarez Links</title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4PYGHLHKFF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4PYGHLHKFF');
  </script>
  <body>
    <!-- this line includes the navbar partial into the boilerplate -->
    <%- include('../partials/linkTreeNavbar') %>
    <!-- This line is where the content of any html that uses the boilerplate will be placed -->
    <main><%-body%></main>
    <!-- this line includes the footer partial into the boilerplate -->
    <%- include('../partials/footer') %>
  </body>
  <script src="/scripts/observer.js"></script>
</html>

<!-- This boilerplate is meant to work as link tree to showcase a couple of links to my social media or any info -->
