<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/res/images/foregroundlogo_v2.png" />
    <link rel="stylesheet" href="/styling/main.css" />
    <title>Bryan ALvarez: Portfolio</title>
  </head>
  <body>
    <!-- this line includes the navbar partial into the boilerplate -->
    <%- include('../partials/navbar') %>
    <!-- This line is where the content of any html that uses the boilerplate will be placed -->
    <main><%-body%></main>
    <!-- this line includes the footer partial into the boilerplate -->
    <%- include('../partials/footer') %>
  </body>
  <script src="/scripts/main.js"></script>
</html>

<!-- This is a boilerplate template that contains the starting data for every html file -->
