<% layout('layouts/linksBoilerplate') %>
<div class="links-section">
    <div class="links-container">
        <img 
            class="links-profile-img lazy-img"
            src="res/lazyimages/bryanLinks-lazy.jpeg"
            data-src="res/images/bryanLinks.jpeg" 
            alt=""
        />
        
        <h1 class="title links-title">Bryan's Links</h1>

        <ul class="links-list">
            <li>
                <a target="_blank" href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> 
                    <img class="link-icon" src="res/images/instagramLogo.png" alt="">
                    Bryan_Dances
                </a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@bryan_dances" target="_blank"> 
                    <img class="link-icon" src="res/images/tiktokLogo.png" alt="">
                    Bryan_Dances
                </a>
            </li>
            <li><a href="/blog" target="_blank">Dancing Blog</a></li>
            <li><a href="/" target="_blank">Portfolio</a></li>
            <li>
                <a href="https://open.spotify.com/playlist/5RcbGZMFEZCEcMAvedCYUk?si=6e2066f1bae94a7a" target="_blank"> 
                    <img class="link-icon" src="res/images/SpotifyLogo.png" alt="">
                    Salsa Playlist
                </a>
            </li>
            <li>
                <a href="https://open.spotify.com/playlist/1FeTQKXpbec86Cw79Sx4u9?si=9db1258d95e34185" target="_blank"> 
                    <img class="link-icon" src="res/images/SpotifyLogo.png" alt="">
                    Bachata Playlist
                </a>
            </li>
            <li>
                <a href="https://open.spotify.com/playlist/4e4i6MIKvhbScesb6dWKuW?si=4acb53a44ce34dea" target="_blank"> 
                    <img class="link-icon" src="res/images/SpotifyLogo.png" alt="">
                    Merengue Playlist
                </a>
            </li>
        </ul>
    </div>
</div>
