<% layout('layouts/articleLayout.ejs') %>
<div class="article-page">
    <div class="article-container">
        <h1 class="highlight">Your First Social Dance Night: What to Expect and How to Prepare</h1>
        <img class="lazy-img" src="/res/lazyimages/palladiumcrowd-lazy.jpeg" data-src="/res/images/palladiumcrowd.jpeg" alt="">
        <p class="align-right info-text">Author: Bryan Alvarez</p>
        <p class="align-right info-text">08/10/2024</p>
        <p>
            Welcome! I appreciate you, my amazing reader. If you’re an experienced social dancer. I’m afraid you might find this 
            repetitive and obvious. There should be other articles in this blog that you’d enjoy reading! 
            <a href="/blog" target="_blank"><span class="link-bold">(Check them out here)</span></a> Nevertheless, you’re welcome 
            to stay and share your opinion. Let’s get to the meat of today’s subject. I am writing this to encourage you, first 
            timer, to go social dancing. So, here’s some info on what to expect, how to prepare, and some tips and stories to get 
            you wired up and ready to move your butt all night.
        </p>
        <p>
            Let’s start by telling you how a social dancing event looks like.
        </p>
        <h2>What to Expect</h2>
        <p>
            When you go out social dancing, you can expect the following basic things: there will be other people who know how to 
            dance 🪩, music to dance to 🎺, and people dancing with each other 👯. After all, ‘social dancing’ is a pretty 
            descriptive name.
        </p>
        <p>
            In any social dancing event, you will find a wide range of people. There will be beginners, intermediate dancers, and 
            advanced dancers; different music styles such as bachata or salsa; and people from diverse ethnic backgrounds, not 
            just Hispanics as some might assume. They will have varying levels of extroversion and/or introversion. Most importantly, 
            most of them will be there to dance.
        </p>
        <p>
            There’s going to be music to dance to 🎶. Depending on the event there might be a live band playing salsa all night 🎸, 
            or maybe a DJ blasting bachata until people’s hips fall off 🎧, or maybe there is a random dude plugged in to the speaker 
            playing his “Super amazing <a href="https://open.spotify.com/playlist/5RcbGZMFEZCEcMAvedCYUk?si=6e2066f1bae94a7a" target="_blank"><span class="link-bold">salsa</span></a>, 
            <a href="https://open.spotify.com/playlist/1FeTQKXpbec86Cw79Sx4u9?si=9db1258d95e34185" target="_blank"><span class="link-bold">bachata playlist</span></a>”. 
            Whatever it is, there will be music playing.
        </p>
        <p>
            Obviously, you should expect people to be dancing. People will invite others to dance constantly. It’s customary for 
            leads to ask follows to dance, so if you’re a follow, you may find it hard to take a seat. Leads also get asked to dance, 
            but less often. You will see couples dancing the basic steps and others executing the craziest moves. You will have dances 
            that you enjoy, and others that you dislike. In a nutshell, this is social dancing!
        </p>
        <h2>Preparation</h2>
        <p>
            To have a great experience your first-time social dancing, you should keep a couple of things in mind. 
            <span class="navy-bold">Be hygienic, bring comfortable clothes, and have a few moves in mind to do on the dance floor</span>.
        </p>
        <p>
            I hope this is evident but shower beforehand, smell good have fresh breath, wear deodorant. You do not want to repel 
            dancers with your smell 🤢.
        </p>
        <p>
            Bring comfortable clothes. Yes, you can look nice but make sure that you can move around in your amazing outfit. That top 
            might be super cute 👗 but if your boobs come out of it every time you turn, it might not be the right top for dancing. Or 
            that tight button down 🕶️ that perfectly shows off your biceps and chest but restricts your arm movement above your belly 
            button might not be the best decision. The same goes for shoes; wear ones that allow you to move comfortably on the dance 
            floor. Even jewelry can sometimes get in the way. When choosing your social dancing outfit, just be mindful that your body 
            will be moving vigorously while dancing.
        </p>
        <p>
            <span class="navy-bold">(Leads)</span> I suggest you get a couple of moves you feel comfortable with before you go out social 
            dancing. Whatever dance it is, get your basic moves and maybe one turn or two. You don’t need 105.72 moves to go social 
            dancing. You need basic moves that you feel comfortable with. One well done simple move is worth many complicated badly led 
            moves. Like everything in life, practice and experience will give you more moves, but for your first time, keep it simple. 
            Do what you know, practice, and enjoy leading and connecting with different partners.
        </p>
        <p>
            <span class="navy-bold">(Follows)</span> Also practice your basics. When you go out there, focus on following whatever your 
            partner leads you into. Most likely, once they start dancing with you, they will be able to tell what kind of moves you can 
            and cannot do. Focus on following and stick to the basics. If you make mistakes, that’s fine—just laugh it off and keep 
            dancing. That’s where you learn.
        </p>
        <p>
            I have plenty of experience bringing first timers to social dancing. I have seen their experiences go great, bad, awful, sad, 
            amazing, and so on. One thing is common among them all: it’s intimidating. As a beginner, when you go out dancing and see 
            multiple people doing moves you don’t understand or think are super impressive, it’s natural to feel intimidated. Therefore, 
            it’s important to remember that they were once in your shoes and didn’t know those moves either. Just try your best, don’t 
            be afraid to ask anyone to dance. Get yourself a couple of dances and leave whenever you feel like it.
        </p>
        <p>Thank you for reading, follow me on Instagram <a href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><span class="link-bold">@Bryan_Dances</span></a>!</p>
        <p class="align-right info-text">Bryan Alvarez</p>
        <p class="align-right info-text">04/26/2024</p>
    </div>
    <div class="side-bar">
        <div class="links-container">
            <img 
            class="links-profile-img lazy-img"
            src="/res/lazyimages/bryanLinks-lazy.jpeg"
            data-src="/res/images/bryanLinks.jpeg" 
            alt=""
            />
            <h2>Bryan's Links</h1>
            <ul>
                <li>
                    <a target="_blank" href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> 
                        <img class="link-icon" src="/res/images/instagramLogo.png" alt="">
                        Bryan_Dances
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@bryan_dances" target="_blank"> 
                        <img class="link-icon" src="/res/images/tiktokLogo.png" alt="">
                        Bryan_Dances
                    </a>
                </li>
                <li><a href="/blog" target="_blank">Dancing Blog</a></li>
                <li><a href="/" target="_blank">Portfolio</a></li>
                <li>
                    <a href="https://open.spotify.com/playlist/5RcbGZMFEZCEcMAvedCYUk?si=6e2066f1bae94a7a" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Salsa Playlist
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/playlist/1FeTQKXpbec86Cw79Sx4u9?si=9db1258d95e34185" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Bachata Playlist
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/playlist/4e4i6MIKvhbScesb6dWKuW?si=4acb53a44ce34dea" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Merengue Playlist
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

