<% layout('layouts/error.ejs') %>
<main class="full-screen">
    <h1 class="highlight title error-title">In Construction</h1>
    <h2 class="error-subtitle">Coming soon... Follow <a href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">@Bryan_Dances</a> on Instagram to stay tune</h2>
  </main>