<% layout('layouts/blogBoilerplate.ejs') %>
<main class="viewport-80">
    <div class="blog-hero-graphic-container">
      <div class="hero-graphic-title">
        <h1>Bryan's Dancing Blog</h1>
        <p>Best hobby I've ever had. Find all my dancing journey learnings, tips and stories!</p>
      </div>
    </div>
    <div class="articles-section">
      <h2 class="articles-title">Articles</h2>
      <div class="blog-articles">
        <a href="/blog/unwrittenrulesofsocialdancing" class="blog-article-card">
          <img class="article-card-img lazy-img" src="/res/lazyimages/unwrittenSocialDancingRules-lazy.jpeg" data-src="/res/images/unwrittenSocialDancingRules.jpeg" alt="">
          <div class="article-card-text">
            <h2 class="article-title">Unwritten Rules of Social Dancing</h2>
            <p class="article-date">04/26/2024</p>
            <p class="article-author">Bryan Alvarez</p>
          </div>
        </a>
      </div>
    </div>
</main>