<% layout('/layouts/articleLayout.ejs') %>
<div class="article-page">
    <div class="article-container">
        <h1 class="highlight">Unwritten Rules of Social Dancing</h1>
        <img class="lazy-img" src="/res/lazyimages/unwrittenSocialDancingRules-lazy.jpeg" data-src="/res/images/unwrittenSocialDancingRules.jpeg" alt="">
        <p class="align-right info-text">Author: Bryan Alvarez</p>
        <p class="align-right info-text">04/26/2024</p>
        <p>Hello, fellow dancers! First, I want to express my appreciation for all of you. Now, let's dive into the topic at hand. Every partner social dance comes with its <span class="navy-bold">unwritten rules</span>, and today, we'll discuss them.</p>
        <p>Let's start with the most basic rule:</p>
        <h2>Rule #1: Be Hygienic.</h2>
        <p>It cannot be stressed enough. Despite repeated reminders from teachers and fellow dancers at all levels, we still encounter individuals with unpleasant body odors, bad breath, dirty hands, and so on. We've all danced with someone who made the experience uncomfortable due to their smell. I speak about this strongly because people often tell me that I make them self-conscious about their odor when dancing, and that's precisely my intention. <span class="navy-bold">We should all be aware of our odor</span>, and the moment we sense something off, we should stop dancing and take corrective action. However, I'm not here just to complain. Let me provide you with some solutions, because we can all be smelly at times. The following tips apply wherever you're dancing—be it a class, a social event, or a friend's house.</p>
        <ul>
            <li>
                <p><span class="navy-bold">Always bring deodorant:</span> Keep a deodorant in your backpack along with your dancing shoes. It can quickly solve any odor issues, making you pleasant to dance with again.</p>
            </li>
            <li>
                <p><span class="navy-bold">Always bring gum or mints:</span> Similar to deodorant, this can come in handy.</p>
            </li>
            <li>
                <p><span class="navy-bold">Bring extra shirts, a towel, or both:</span> In case you're sweating profusely, these can help you freshen up.</p>
            </li>
        </ul>
        <p>These steps should help you quickly address any body odors or unpleasant sensations you might cause your dance partners throughout the night. If you have a friend with you and you're unsure about your smell, ask them for their opinion. <span class="navy-bold">Most people won't tell you unless you ask them directly</span>. I hope this never happens to you again now that you've read this.</p>
        <p>That covers the most broken and important rule of all. Let's move on to the next one:</p>
        <h2>Rule #2: Social Dance, Don't Teach.</h2>
        <p>There's a quick exception: if you're requested to teach and you're willing to explain, then go ahead. However, in any other case, nobody is asking for your opinion. Most people just want to have fun and practice without being criticized, even constructively. <span class="navy-bold">Avoid giving unsolicited advice</span>. We are human beings, and regardless of the intention, many people have a hard time accepting criticism. So, just don't. Keep it to yourself and go have fun. If you have nothing nice to say, don't say it. Leave that for teachers in class or when somebody asks you directly. I know you have knowledge to share, but they don't want to hear it unless they ask.</p>
        <p>Now, let's discuss the last rule for today:</p>
        <h2>Rule #3: Be Aware of the Space Around You.</h2>
        <p>How many times have you bumped into another couple on the dance floor? Stop it by paying attention to your surroundings. This primarily concerns the leads. However, follows, the more people there are on the dance floor, the tighter you should keep your turns and steps. You might ask, "Isn't that the lead's responsibility?" The answer is yes. Nevertheless, a good leader will guide you to keep your dance tight, not force you to do so. After all, it's a couple's dance.</p>
        <p>Leads, you also carry the responsibility of taking care of your follow. Ensure your moves match the available space. Be aware of other couples around you and your partner. Navigate the space so that nobody gets bumped into. Be considerate about how much space you take up relative to the number of dancers on the floor. A dance is always better when nobody gets randomly elbowed, kicked, or stepped on. I hope we can all agree on that.</p>
        <p>In conclusion, dancing is supposed to be fun, and these rules help make it more enjoyable. The more of us that follow them, the better it becomes for the community.</p>
        <p>Help spread this knowledge, share it, and give your opinion as well.</p>
        <p>If you enjoyed this blog, I would appreciate it if you let me know so that I can continue creating content like this to help the dance community grow and improve!</p>
        <p>Thank you for reading, follow me on Instagram <a href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><span class="link-bold">@Bryan_Dances</span></a>!</p>
        <p class="align-right info-text">Bryan Alvarez</p>
        <p class="align-right info-text">04/26/2024</p>
    </div>
    <div class="side-bar">
        <div class="links-container">
            <img 
            class="links-profile-img lazy-img"
            src="/res/lazyimages/bryanLinks-lazy.jpeg"
            data-src="/res/images/bryanLinks.jpeg" 
            alt=""
            />
            <h2>Bryan's Links</h1>
            <ul>
                <li>
                    <a target="_blank" href="https://www.instagram.com/bryan_dances?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> 
                        <img class="link-icon" src="/res/images/instagramLogo.png" alt="">
                        Bryan_Dances
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@bryan_dances" target="_blank"> 
                        <img class="link-icon" src="/res/images/tiktokLogo.png" alt="">
                        Bryan_Dances
                    </a>
                </li>
                <li><a href="/blog" target="_blank">Dancing Blog</a></li>
                <li><a href="/" target="_blank">Portfolio</a></li>
                <li>
                    <a href="https://open.spotify.com/playlist/5RcbGZMFEZCEcMAvedCYUk?si=6e2066f1bae94a7a" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Salsa Playlist
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/playlist/1FeTQKXpbec86Cw79Sx4u9?si=9db1258d95e34185" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Bachata Playlist
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/playlist/4e4i6MIKvhbScesb6dWKuW?si=4acb53a44ce34dea" target="_blank"> 
                        <img class="link-icon" src="/res/images/SpotifyLogo.png" alt="">
                        Merengue Playlist
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

